.signup-container{
    
}
.register{
    
    margin-top: 100px;
    margin-left: 450px;
}
.register img{
    height: 70px;
    width:400px ;
}
.form{
 text-align: center;
}
.form input{
    display: block;
    background-color:rgba(252, 232, 232, 0.884);
    padding:14px;
    padding-right: 50px;
    margin-top: 20px;
    border: 1px solid tan;
    border-radius: 3px;
}
.form span{
    color: red;
}