.breakfast-container{
    background-color: rgb(242, 249, 253);
}
.breakfast{
    background-color:white;
    padding-top: 20px;
 width: 300px;
 height: 300px;
 border: 1px solid rgb(252, 232, 232);
float: left;
margin-left: 50px;
text-align: center;
margin-top: 50px;
margin-right: 20px;
border-radius: 5px;
cursor: pointer;


 
}
.breakfast img{
    height: 150px;
    
   
}
.breakfast:hover{
  
    background-color: rgb(247, 229, 229);
    border-radius: 10px;
}
.link{
    text-decoration: none;
   color: rgb(58, 52, 52);
}